<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body>
    <%- include('partials/header') -%>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Sign Up</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row"> 
            <div class="card text-bg-light mx-auto mt-5 mb-5 col-8 col-md-4">
                <h1 class="card-header">Sign Up</h1>
                <% if (locals.messages.errors) { %>
                  <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                  <% }) %>    
                <% } %>
                <div class="card-body">
                  <h5 class="card-title">Ready to begin checking things off your to-do list?</h5>
                  <p class="card-text">Fill out the information below to get started.</p>
                  <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control" name="userName">
                      </div>
                      <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="name@example.com">
                      </div>
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" aria-describedby="passwordHelpBlock">
                            <div id="passwordHelpBlock" class="form-text">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                            </div>
                    </div>
                    <div class="mb-3">
                      <label for="inputPassword5" class="form-label">Confirm Password</label>
                      <input type="password" name="confirmPassword" class="form-control">
                  </div>
                    <input type="submit" class="mb-3 btn btn-primary mt-1">
                    </form>
     

 
    <%- include('partials/footer') -%>
</body>
</html>